# Created by .ignore support plugin (hsz.mobi)
### Python template


# IntelliJ project files
.idea
*.iml
/logs/
/logs_age/
/logs_average/
/logs_average_nearest_epoch/
/logs_sample/
/logs_sample2/
/logsTest/